.formContainer {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 93vh;
}
.formContent {
  width: 40rem;
  background-color: var(--color-bg-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.formTitleContainer {
  padding: 3rem 0rem;
}
.formTitle {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--color-text-primary);
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  padding: 0rem 5rem;
}
